/* Estilos da tela de loading */
.initialBody{ /*configuração inicial do body*/
    position: fixed;
    background-color: rgba(0, 0, 0, .87);
    color: aliceblue;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.loading{
    position: relative;
    top: 50%;
    left: 50%;
}

.pacman{
    position: relative;
    width: 0;
    height: 0;
    border: 37.5px solid #fed75a;
    border-right-color: transparent;
    border-radius: 50%;
    left: -60px;
    animation: rotateUp .5s infinite;
}
.div2{
    position: relative;
    width: 0;
    height: 0;
    border: 37.5px solid #fed75a;
    border-right-color: transparent;
    border-radius: 50%;
    left: -60px;
    margin-top: -75px;
    animation: rotateDown .5s infinite;
}
.balls{
    background-color: #fed75a;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 75px;
    animation: balls 1s infinite linear;
}
.ball2{
    animation-delay: -.66s;
}
.ball3{
    animation-delay: -.33s;
}
/*animações abaixo*/
@keyframes rotateUp{
    0%{
        transform: rotate(270deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(270deg);
    }
}
@keyframes rotateDown{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes balls{
    75% {
        opacity: .7;
      }
      100% {
        transform: translateX(-93.75px);
      }
}

/**************************/